/target/
.idea/

.classpath
.metadata/
.project
.settings/

*.iml
.DS_Store

*.diff

node_modules

# following files are generated/updated by flow-maven
frontend/main.js
src/main/webapp/build/stats.json
webpack.generated.js
